name: Preview Updater

on:
    schedule:
        -   cron: '20 2 * * *'
    release:
        types: [published]
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write

jobs:
    preview:
        uses: TheDragonCode/.github/.github/workflows/preview.yml@main
